@(list: List[Leader])(implicit request: RequestHeader)

@import utils._

<!DOCTYPE html>
<html style="background-color: #e2e2e2;">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="{{ lay.base.keywords }}">
  <meta name="description" content="{{ lay.base.description }}">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>发现 Scala 技术圈</title>
  <link rel="stylesheet" href="/assets/fly3/res/layui/css/layui.css">
  <link rel="stylesheet" href="/assets/fly3/res/css/global.css">
  <link rel="stylesheet" href="/assets/css/time.css">
  <style>
  .header{border-bottom: 1px solid #404553; border-right: 1px solid #404553;}
  .raised i {color: green!important;}
  </style>
</head>
<body class="fly-full">

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/assets/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs" style="padding-left: 30px;">
            <li class='layui-nav-item'>
                <a href="/"><i class="iconfont icon-jiaoliu"></i>首页</a>
            </li>
            <li class='layui-nav-item'>
                <a href="/board/all"><i class="iconfont icon-jiaoliu"></i>版块</a>
            </li>
            <li class='layui-nav-item'>
                <a href="/docs"><i class="iconfont icon-iconmingxinganli"></i>学习</a>
            </li>
            <li class='layui-nav-item'>
                <a href="/dict"><i class="layui-icon layui-icon-read"></i>词典</a>
            </li>
            <li class='layui-nav-item layui-this'>
                <a href="/corporations"><i class="iconfont icon-logo"></i>圈子</a>
            </li>
            <li class='layui-nav-item'>
                <a href="/tweets"><i class="iconfont icon-logo"></i>说说</a>
            </li>
            <li class='layui-nav-item'>
                <a href="https://github.com/playcommunity/play-community" target="_blank"><i class="iconfont icon-daima"></i>源码</a>
            </li>
        </ul>
    </div>
</div>

<div class="fly-case-header">
    <p class="fly-case-year" style="top:50px;">发现 Scala 技术圈</p>
    <div class="fly-case-btn">
    </div>
</div>

<div class="fly-main" style="overflow: hidden;">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this"><a href="/leaders">精选博客</a></li>
            <li><a href="/corporations?sortBy=vote">金牌雇主</a></li>
        </ul>
    </div>
    <ul class="fly-case-list" style="padding-top: 30px;">
        @for(c <- list){
        <li data-id="@c._id" style="padding: 30px 10px 0px;">
            <a class="fly-case-img" href='@c.site.map(_.url).getOrElse("")' target="_blank"  style="text-align:center;">
                <img src="@c.avatar" alt="@c.name" style="width:130px;height:130px;box-shadow: 0 0 0 4px rgba(0,0,0,.1);border-radius: 50%;">
            </a>
            <h2><a href='@c.site.map(_.url).getOrElse("")' target="_blank">@c.name</a></h2>
            <div class="fly-case-info" style="padding: 10px 0;margin: 0;">
                <p class="layui-elip" style="padding-top:5px;">
                    <a style="font-size:14px;color:rgba(0,0,0,.65);">
                        <i class="layui-icon layui-icon-refresh" style="position: relative; top:1px;font-size:15px;"></i>
                        <cite title="最新博文发布时间">@{utils.DateTimeUtil.toPrettyString(c.updateTime)} @if(System.currentTimeMillis()/1000 - c.updateTime.getEpochSecond <= 45*86400){<span class="layui-badge-dot layui-bg-green" style="position: absolute;top: 50%;margin: -4px 6px 0;"></span>}</cite>
                    </a>

                    <a data-type="praise" class="fly-case-active @if(RequestHelper.isLogin && utils.BitmapUtil.fromBase64String(c.voteStat.bitmap).contains(RequestHelper.getUid.toInt)){raised}" href="javascript:void(0);" style="font-size:14px;position: absolute; right: 0; top: 15px;color:rgba(0,0,0,.65);">
                        <i class="iconfont icon-zan" style="position: relative; top:0px;font-size:18px;color:rgba(0,0,0,.5);"></i>
                        <cite id="praise-text">@{c.voteStat.count}个赞</cite>
                    </a>
                </p>

            </div>
        </li>
        }
    </ul>
    <div style="text-align:center;margin-top: 30px;">
        <a href="javascript:;" class="layui-btn layui-btn-lg fly-case-active" data-type="pushLeader">提交博客</a>
    </div>

</div>

<div class="fly-footer">
    <p> <span id="footer-copyright">2018</span> &copy; <a href="http://www.playscala.cn/" target="_blank">PlayScala 社区</a>
           <a href="http://www.miitbeian.gov.cn" target="_blank">苏ICP备14005538号-1</a></p>

    <!--<p>
        <a href="https://github.com/playcommunity/play-community" target="_blank">社区源码</a>
        <a href="" target="_blank">微信公众号</a>
    </p>-->
</div>

<script src="/assets/fly3/res/layui/layui.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/copyright.js"></script>

<script>
layui.cache.page = 'leader';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/assets/fly3/res/mods/' //这里实际使用时，建议改成绝对路径
}).extend({
  fly: 'index'
}).use('fly');
</script>
</body>
</html>