@(tweet: Tweet)(implicit request: RequestHeader)
@import helper._
@import utils.RequestHelper

@uid() = @{request.session.get("uid").getOrElse("-1").toInt}
@main(s"${app.Global.siteSetting.name} - ${tweet.title}", "community", "tweet", "", "") {
<link rel="stylesheet" href="/assets/plugins/quill/1.3.6/quill.snow.css">
<link rel="stylesheet" href="/assets/plugins/quill/1.3.6/quill-emoji.css">
<link rel="stylesheet" href="/assets/plugins/quill-mention/quill.mention.min.css">
<link rel="stylesheet" href="/assets/plugins/highlight/styles/monokai-sublime.css">
<style>
/* Set default font-family */
#quill-container {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, "STHeiti Light", Tahoma, Arial, sans-serif;
  height: 200px;
}
.layui-upload-file, .layui-upload-button { display: none;}

.ql-editor {
  color: #3d464d;
  white-space: normal;
}
.ql-editor p, .ql-editor ol, .ql-editor ul {
  line-height: 28px;
}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin: 5px 0px 5px;
    padding: 10px 0px 5px;
}
.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin-top: 15px;
}
.ql-editor ul li, .ql-editor ul li {
  padding: 0px;
  border: 0px;
}
</style>
@views.html.nav("tweet")
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12 content detail">
      <div class="fly-panel detail-box">
        <h1>@{tweet.author.name}的说说</h1>
        <div class="fly-detail-info">
          <div class="fly-admin-box">
            @if(RequestHelper.isAdmin || RequestHelper.isOwnerOf(tweet._id)){
            <span class="layui-btn layui-btn-xs jie-admin"><a href="/tweet/remove?_id=@{tweet._id}" style="color:#fff;">删除</a></span>
            }
          </div>
          <span class="fly-list-nums">
            <i class="iconfont icon-zan" title="点赞"></i> <em id="vote-count">@tweet.voteStat.count</em>
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> @tweet.replyStat.replyCount</a>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="/user/home?uid=@{tweet.author._id}">
            <img src="@tweet.author.headImg" alt="">
          </a>
          <div class="fly-detail-user">
            <a href="/user/home?uid=@{tweet.author._id}" class="fly-link">
              <cite>@tweet.author.name</cite>
              <!--<i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip">VIP3</i>-->
            </a>
            <span>@utils.DateTimeUtil.toPrettyString(tweet.createTime)发布</span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="@tweet._id">
            @if(RequestHelper.isLogin && utils.BitmapUtil.fromBase64String(tweet.voteStat.bitmap).contains(RequestHelper.getUid.toInt)){
            <span class="layui-btn layui-btn-xs zan-resource layui-btn-danger" data-zan="1" data-id="@tweet._id" data-type="tweet" data-title="说说">取消点赞</span>
            }else{
            <span class="layui-btn layui-btn-xs zan-resource" data-zan="0" data-id="@tweet._id" data-type="tweet" data-title="说说">点赞</span>
            }
          </div>
        </div>
        <div class="detail-body photos">
          @Html(tweet.content)
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda">
          @for(r <- tweet.replyStat.replies){
          @defining(utils.BitmapUtil.fromBase64String(r.voteStat.bitmap)){ bitmap =>
          <li data-id="@{tweet._id}" data-rid="@{r._id}" data-type="tweet" data-title="说说 中 @{r.author.name} 的回复" class="jieda-daan">
            <a name="item-@{r._id}"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="/user/home?uid=@{r.author._id}">
                <img src="@{r.author.headImg}" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite>@{r.author.name}</cite>
                  <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                  <i class="layui-badge fly-badge-vip">VIP3</i>-->
                </a>

                <!--<span>(楼主)</span>-->
                <!--
                <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span>
                -->
              </div>

              <div class="detail-hits">
                <span>@utils.DateTimeUtil.toPrettyString(r.createTime)</span>
              </div>

              <!--<i class="iconfont icon-caina" title="最佳答案"></i>-->
            </div>
            <div class="detail-body jieda-body photos">
              @Html(r.content)
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan @if(bitmap.contains(uid)){zanok}" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>@{r.voteStat.count}</em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              @if(RequestHelper.isOwnerOf(r._id)){
              <div class="jieda-admin">
                <!--<span type="edit">编辑</span>-->
                <span type="del">删除</span>
                <!-- <span class="jieda-accept" type="accept">采纳</span> -->
              </div>
              }
            </div>
          </li>
          }
          }

          @if(tweet.replyStat.replies.isEmpty){
          <li class="fly-none">消灭零回复</li>
          }
        </ul>

        @if(RequestHelper.isLogin){
        <div id="quill-container"></div>
        <div class="layui-form layui-form-pane" style="margin-top: 15px;">
          <form id="form" action="/resource/reply" method="post">
            <div class="layui-form-item">
              <input type="hidden" name="resId" value="@tweet._id">
              <input type="hidden" name="resType" value="tweet">
              <input type="hidden" name="resTitle" value="说说">
              <input id="L_content" type="hidden" name="content"/>
              <input id="at-input" type="hidden" name="at" value="">
              <input type="file" name="file" id="LAY-upload-image" data-token="" class="layui-upload-file">
              <button class="layui-btn" lay-submit>提交回答</button>
            </div>
          </form>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
<script type="text/javascript" src="/assets/plugins/quill/1.3.6/quill.min.js"></script>
<script type="text/javascript" src="/assets/plugins/quill/1.3.6/quill-emoji.js"></script>
<script type="text/javascript" src="/assets/plugins/quill-blot-formatter/quill-blot-formatter.min.js"></script>
<script type="text/javascript" src="/assets/plugins/quill-mention/quill.mention.min.js"></script>
<script src="/assets/plugins/highlight/highlight.pack.js"></script>
<script>
layui.cache.page = 'resource';

@if(RequestHelper.isLogin){

Quill.register('modules/blotFormatter', QuillBlotFormatter.default);

async function findUsers(searchTerm) {
  return new Promise(function(resolve, reject) {
    $.get("/user/find?searchTerm=" + searchTerm, function(resp){
      if(resp.code == 0){
        resolve(resp.data);
      } else {
        reject(new Error("error"));
      }
    });
  });
}

var quill = new Quill('#quill-container', {
  theme: 'snow',
  modules: {
    toolbar: {
      container : [
        [{ 'size': [] }],
        [ 'bold', 'italic', 'underline' ],
        [ 'blockquote', 'code-block' ],
        [{ 'list': 'ordered' }, { 'list': 'bullet'}],
        [{ 'align': [] }],
        [ 'link', 'image' ],
        ['emoji'],
        [ 'clean' ]
      ],
      handlers: {
        image: function(){ $('#LAY-upload-image').click(); },
        'emoji': function () {}
      }
    },
    "emoji-toolbar": true,
    "emoji-shortname": true,
    "emoji-textarea": false,
    blotFormatter: {},
    mention: {
      allowedChars: /^[A-Za-z\sÅÄÖåäö]*$/,
      mentionDenotationChars: ["@@", "#"],
      dataAttributes: ['data'],
      spaceAfterInsert: true,
      source: async function (searchTerm, renderList) {
        const matchedPeople = await findUsers(searchTerm);
        renderList(matchedPeople);
      }
    }
  }
});

$('#form').submit(function(){
  $('#L_content').val(quill.root.innerHTML);
});

layui.use('upload', function(upload){
  var upload = layui.upload;
  upload.render({
    elem: '#LAY-upload-image'
    ,method: 'post'
    ,url: '/resource/owner/editor'
    ,done: function(res){
      var range = quill.getSelection(true);
      var Delta = Quill.import('delta');
      quill.updateContents(
        new Delta().retain(range.index)
           .delete(range.length)
           .insert({ image: res.url })
        , 'user');
    }
    ,error: function(){
      layer.msg('error');
    }
  });
});

}

$(document).ready(function() {
  $('pre').each(function(i, block) {
    //$(block).removeClass('ql-syntax').addClass('scala');
    $(block).addClass('scala');
    hljs.highlightBlock(block);
  });
});
</script>
