@(query: String, wordOpt: Option[Word], topWords: List[String])(implicit request: RequestHeader)

@main("欢迎来到社区！", "search") {
<style>
  .fly-list .fly-list-li { height: auto; }
  .fly-list-li h2 a { font-size: 18px; }
  .fly-panel-title a { padding: 0px; }
  .fly-list li {
    position: relative;
    height: 45px;
    line-height: 22px;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px dotted #e2e2e2;
  }
  p.content { color: #545454; font-size: 13px; }
  .sound {
      background-image: url(/assets/images/sound.png);
      background-repeat: no-repeat;
  }
</style>
<div class="fly-panel fly-column" style="height: 80px;">
    <div class="layui-container" style="padding-top:15px;">
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset3">
                <form onsubmit="return submit();">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <input id="query" type="text" name="q" value="@query" required lay-verify="required" placeholder="请输入查询单词或短语" autocomplete="off" class="layui-input" style="width:300px;">
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn-group">
                                <button id="query-btn" class="layui-btn">立即查词</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if(wordOpt.nonEmpty) {
    <div class="layui-container">
        <div class="layui-row  layui-col-space15">
            <div class="layui-col-md10 content detail">
                <div class="fly-panel detail-box">
                    <span style="font-size: 32px;">@wordOpt.get._id</span>
                    <span>@wordOpt.get.pronounce</span>
                    <span style="cursor: pointer;"><i id="sound" class="sound" title="发音">　</i></span>
                    <div class="fly-detail-info">
                    </div>
                    <div class="fly-detail-info">
                        @for(tag <- wordOpt.get.tags) {
                            <span class="layui-badge layui-bg-green fly-detail-column">@tag</span>
                        }
                        @*<span class="layui-btn layui-btn-xs">流计算</span>*@
                        @*<span class="fly-list-nums">
                        <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> 66</a>
                        <i class="iconfont" title="人气">&#xe60b;</i> 99999
                        </span>*@
                    </div>
                    <div class="detail-body photos">
                    @wordOpt.get.content
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">热门查询</dt>
                    @for(w <- topWords) {
                        <dd>
                            <a href="/dict/@{w}">@w</a>
                        </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
} else {
    <div class="layui-container">
        @if(query.trim != "") {
            抱歉，该词尚未维护！
        } else {
            请输入查询词！
        }
    </div>
}
}

@if(wordOpt.nonEmpty){
<audio id="spark">
    <source src='@{wordOpt.get.audioUrl}' type='@{wordOpt.get.audioType}'>
</audio>
}
<script>
var word = '@{wordOpt.map(_._id).getOrElse("")}';

$('#sound').click(function(){
  var audio = document.getElementById(word);
  audio.currentTime = 0;
  audio.play();
});

function submit() {
    alert("aa");
    var q = $('#query').val();
    if(q.replace(/\s/g, '') === ''){
        return false;
    }
    window.location.href = "/dict/" + q;
    return false;
}
</script>
