@(menu1: String, menu2: String)

<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start @if(menu1 == "dashboard"){active open}">
            <a href="/admin" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">管理首页</span>
                @if(menu1 == "dashboard"){
                <span class="selected"></span>
                }
            </a>
        </li>
        <li class="heading">
            <h3 class="uppercase">系统设置</h3>
        </li>
        <li class="nav-item  @if(menu1 == "setting"){active open}">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">系统设置</span>
                @if(menu1 == "setting"){
                <span class="selected"></span>
                }
                <span class="arrow @if(menu1 == "setting"){open}"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  @if(menu1 == "setting"){active}">
                    <a href="/admin/setting/base" class="nav-link ">
                        <span class="title">基础设置</span>
                        @if(menu1 == "setting-base"){
                        <span class="selected"></span>
                        }
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/todo" class="nav-link ">
                        <span class="title">分类管理</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="heading">
            <h3 class="uppercase">板块设置</h3>
        </li>
        <li class="nav-item  @if(menu1 == "learn"){active open}">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">学习板块</span>
                <span class='arrow @if(menu1 == "learn"){open}'></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item @if(menu2 == "catalog"){active open}">
                    <a href="/admin/doc/catalog" class="nav-link ">
                        <span class="title">目录管理</span>
                        @if(menu2 == "catalog"){
                        <span class="selected"></span>
                        }
                    </a>
                </li>
                <li class="nav-item @if(menu2 == "docs"){active open}">
                    <a href="/admin/docs" class="nav-link ">
                        <span class="title">文档管理</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>