@(articleOpt: Option[Article], categoryList: List[Category])(implicit request: RequestHeader)
@import helper._
@main("欢迎来到社区！") {
<div class="main layui-clear">
  <div class="fly-panel" pad20>
    <h2 class="page-title">发表问题</h2>

    <!-- <div class="fly-none">并无权限</div> -->

    <div class="layui-form layui-form-pane">
      <form action="/article/add" method="post">
      @if(articleOpt.nonEmpty){
      <input type="hidden" name="_id" value="@articleOpt.get._id"/>
      }
      <div class="layui-form-item">
        <label for="L_title" class="layui-form-label">标题</label>
        <div class="layui-input-block">
          <input value="@articleOpt.map(_.title).getOrElse("")" type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <div class="layui-input-block">
          <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容" class="layui-textarea fly-editor" style="height: 260px;">@articleOpt.map(_.content).getOrElse("")</textarea>
        </div>
        <label for="L_content" class="layui-form-label" style="top: -2px;">描述</label>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">所在类别</label>
          <div class="layui-input-block">
            <select lay-verify="required" name="categoryPath">
              <option></option>
              @for(c <- categoryList){
              <option value="@c.path" @if(articleOpt.map(_.categoryPath).getOrElse("") == c.path){selected}>@c.name</option>
              }
            </select>
          </div>
        </div>
        <!--<div class="layui-inline">
          <label class="layui-form-label">悬赏飞吻</label>
          <div class="layui-input-block">
            <select name="experience">
              <option value="5" selected>5</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>-->
      </div>
      <!--<div class="layui-form-item">
        <label for="L_vercode" class="layui-form-label">人类验证</label>
        <div class="layui-input-inline">
          <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">
          <span style="color: #c00;">1+1=?</span>
        </div>
      </div>-->
      <div class="layui-form-item">
        @CSRF.formField
        <button class="layui-btn" lay-submit>立即发布</button>
      </div>
      </form>
    </div>
  </div>
</div>
}

<script>
layui.cache.page = 'jie';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/assets/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '/assets/mods/'
}).extend({
  fly: 'index'
}).use('fly', function(){
  var $ = layui.jquery;
  var fly = layui.fly;
});
</script>
