@(uidOpt: Option[String], userOpt: Option[User], articles: List[Article], replyArticles: List[Article])(implicit request: RequestHeader)
@import utils.RequestHelper

@headImg = @{
  userOpt.map(_.setting.headImg).getOrElse{
    uidOpt.map(_ => "/assets/images/head.png").getOrElse{
      RequestHelper.getHeadImg
    }
  }
}

@name = @{
  userOpt.map(_.setting.name).getOrElse{
    uidOpt.map(_ => "他").getOrElse{
      RequestHelper.getNameOpt.getOrElse("他")
    }
  }
}

@main("欢迎来到社区！") {
<div class="fly-home" style="background-image: url();">
  <img src="@headImg">
  <h1>
    @name
    <i class="iconfont icon-nan"></i>
    <!-- <i class="iconfont icon-nv"></i> -->
    @if(userOpt.map(_.role).getOrElse("") == "admin"){
    <span style="color:#5FB878">(管理员)</span>
    }
    <!-- <span style="color:#c00;">（超级码农）</span>
    <span style="color:#5FB878;">（活雷锋）</span>
    <span>（该号已被封）</span> -->
  </h1>
  <p class="fly-home-info">
    <i class="iconfont icon-zuichun" title="飞吻"></i><span style="color: #FF7200;">@{userOpt.map(_.score).getOrElse(0)}飞吻</span>
    <i class="iconfont icon-shijian"></i><span>@{userOpt.map(_.userStat.createTime.format(java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm"))).getOrElse("刚刚")} 加入</span>
    <i class="iconfont icon-chengshi"></i><span>来自@{userOpt.map(_.ipLocation.map(_.city).getOrElse("中国")).getOrElse("中国")}</span>
  </p>
  <p class="fly-home-sign">@{userOpt.map(_.setting.introduction).getOrElse("")}</p>
</div>

<div class="main fly-home-main">
  <div class="layui-inline fly-home-jie">
    <div class="fly-panel">
      <h3 class="fly-panel-title">@name 最近的文章</h3>
      <ul class="jie-row">
        @for(a <- articles){
        <li>
          <a href="/article/view?_id=@a._id" class="jie-title">@a.title</a>
          <i>@utils.DateTimeUtil.toPrettyString(a.timeStat.createTime)</i>
          <em>@{a.viewStat.count}阅/@{a.replyStat.count}答</em>
        </li>
        }
      </ul>
      @if(articles.nonEmpty){
      <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div>
      }
    </div>
  </div>

  <div class="layui-inline fly-home-da">
    <div class="fly-panel">
      <h3 class="fly-panel-title">@name 最近的回答</h3>
      <ul class="home-jieda">
        @for(a <- replyArticles){
        <li>
          <p>
            <span>@utils.DateTimeUtil.toPrettyString(a.timeStat.createTime)</span>
            回复了<a href="/article/view?_id=@a._id" target="_blank">@{a.title}</a>
          </p>
        </li>
        }
      </ul>
      @if(replyArticles.nonEmpty){
      <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div>
      }
    </div>
  </div>

</div>
}

<script>
layui.cache.page = 'user';
</script>
