@(u: User, myArticles: List[Article], myReplyArticles: List[Article])(implicit request: RequestHeader)

@main("欢迎来到社区！") {
<div class="fly-home" style="background-image: url();">
  <img src="@u.setting.headImg" alt="{{info.username}}">
  <h1>
    @{u.setting.name}
    <i class="iconfont icon-nan"></i>
    <!-- <i class="iconfont icon-nv"></i> -->

    <!-- <span style="color:#c00;">（超级码农）</span>
    <span style="color:#5FB878;">（活雷锋）</span>
    <span>（该号已被封）</span> -->
  </h1>
  <p class="fly-home-info">
    <i class="iconfont icon-zuichun" title="飞吻"></i><span style="color: #FF7200;">@{u.score}飞吻</span>
    <i class="iconfont icon-shijian"></i><span>@{u.userStat.createTime.format(java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm"))} 加入</span>
    <i class="iconfont icon-chengshi"></i><span>来自中国某城</span>
  </p>
  <p class="fly-home-sign">@{u.setting.introduction}</p>
</div>

<div class="main fly-home-main">
  <div class="layui-inline fly-home-jie">
    <div class="fly-panel">
      <h3 class="fly-panel-title">@{u.setting.name} 最近的文章</h3>
      <ul class="jie-row">
        @for(a <- myArticles){
        <li>
          <a href="/article/view?_id=@a._id" class="jie-title">@a.title</a>
          <i>@utils.DateTimeUtil.toPrettyString(a.timeStat.createTime)</i>
          <em>@{a.viewStat.count}阅/@{a.replyStat.count}答</em>
        </li>
        }
      </ul>
      <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
    </div>
  </div>

  <div class="layui-inline fly-home-da">
    <div class="fly-panel">
      <h3 class="fly-panel-title">@{u.setting.name} 最近的回答</h3>
      <ul class="home-jieda">
        @for(a <- myReplyArticles){
        <li>
          <p>
            <span>@utils.DateTimeUtil.toPrettyString(a.timeStat.createTime)</span>
            在<a href="/article/view?_id=@a._id" target="_blank">@{a.title}</a>回复了@{a.replies.count(_.author._id == request.session("uid"))}条
          </p>
        </li>
        }
      </ul>
      <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
    </div>
  </div>

</div>
}

<script>
layui.cache.page = 'user';
</script>
