@(u: User, focus: String = "info")(implicit request: RequestHeader)
@import helper._
@import _root_.utils._
@import models.LoginType._
@main("账户设置") {
<div class="main fly-user-main layui-clear">
  @sidebar("setting")

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li @if(focus == "info"){class="layui-this"} lay-id="info">我的资料</li>
        <li @if(focus == "avatar"){class="layui-this"} lay-id="avatar">头像</li>
        <li @if(focus == "pass") { class="layui-this" } lay-id="pass" @if(!RequestHelper.isPasswordLogin){ style="display: none;" }>密码</li>
        <!--<li lay-id="bind">帐号绑定</li>-->
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item @if(focus == "info"){layui-show}">
          <form action="/user/setting" method="post">
            <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">账号</label>
              <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" required autocomplete="off" value="@{u.login}" class="layui-input layui-disabled" disabled>
              </div>
              <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">昵称</label>
              <div class="layui-input-inline">
                <input type="text" id="L_username" name="name" required lay-verify="required" autocomplete="off" value="@{u.setting.name}" class="layui-input">
              </div>
              <div class="layui-inline">
                <div class="layui-input-inline">
                  <input type="radio" name="gender" value="1" @if(u.setting.gender == "1"){checked} title="男">
                  <input type="radio" name="gender" value="0" @if(u.setting.gender == "0"){checked} title="女">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_city" class="layui-form-label">城市</label>
              <div class="layui-input-inline">
                <input type="text" id="L_city" name="city" autocomplete="off" value="@{u.setting.city}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label for="L_sign" class="layui-form-label">签名</label>
              <div class="layui-input-block">
                <textarea placeholder="随便写些什么刷下存在感" id="L_sign"  name="introduction" autocomplete="off" class="layui-textarea" style="height: 80px;">@{u.setting.introduction}</textarea>
              </div>
            </div>
            <div class="layui-form-item">

              <button class="layui-btn" key="set-mine" lay-submit>确认修改</button>
            </div>
          </form>
        </div>
        <div class="layui-form layui-form-pane layui-tab-item @if(focus == "avatar"){layui-show}">
          <div class="layui-form-item">
            <div class="avatar-add">
              <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过30KB</p>
              <div class="upload-img">
                <input type="file" name="file" id="LAY-file" lay-title="上传头像" data-token="">
              </div>
              <img src="@u.setting.headImg">
              <span class="loading"></span>
            </div>
          </div>
        </div>
        <!-- 不显示使用第三方登录的用户的密码修改页面 -->
        <div class="layui-form layui-form-pane layui-tab-item @if(focus == "pass"){layui-show}" @if(!RequestHelper.isPasswordLogin){ style="display: none;" }>
          <form action="/user/password" method="post">
            @if(u.password != ""){
            <div class="layui-form-item">
              <label for="L_nowpass" class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" id="L_nowpass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            }
            <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" id="L_pass" name="password1" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">确认密码</label>
              <div class="layui-input-inline">
                <input type="password" id="L_repass" name="password2" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">

              <button class="layui-btn" key="set-mine" lay-submit>确认修改</button>
            </div>
          </form>
        </div>
        <div class="layui-form layui-form-pane layui-tab-item">
          <ul class="app-bind">
            <li class="fly-msg app-havebind">
              <i class="iconfont icon-qq"></i>
              <span>已成功绑定，您可以使用QQ帐号直接登录Fly社区，当然，您也可以</span>
              <a href="javascript:;" class="acc-unbind" type="qq_id">解除绑定</a>

              <!-- <a href="" onclick="layer.msg('正在绑定微博QQ', {icon:16, shade: 0.1, time:0})" class="acc-bind" type="qq_id">立即绑定</a>
              <span>，即可使用QQ帐号登录Fly社区</span> -->
            </li>
            <li class="fly-msg">
              <i class="iconfont icon-weibo"></i>
              <!-- <span>已成功绑定，您可以使用微博直接登录Fly社区，当然，您也可以</span>
              <a href="javascript:;" class="acc-unbind" type="weibo_id">解除绑定</a> -->

              <a href="" class="acc-weibo" type="weibo_id"  onclick="layer.msg('正在绑定微博', {icon:16, shade: 0.1, time:0})" >立即绑定</a>
              <span>，即可使用微博帐号登录Fly社区</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
}

<script>
layui.cache.page = 'user';
</script>
