@(item: String)
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  <li class="layui-nav-item @if(item == "home"){layui-this}">
    <a href="/user/home">
      <i class="layui-icon">&#xe609;</i>
      我的主页
    </a>
  </li>
  <li class="layui-nav-item @if(item == "index"){layui-this}">
    <a href="/user">
      <i class="layui-icon">&#xe612;</i>
      用户中心
    </a>
  </li>
  <li class="layui-nav-item @if(item == "setting"){layui-this}">
    <a href="/user/setting">
      <i class="layui-icon">&#xe620;</i>
      基本设置
    </a>
  </li>
  <li class="layui-nav-item @if(item == "message"){layui-this}">
    <a href="/user/message">
      <i class="layui-icon">&#xe611;</i>
      我的消息
    </a>
  </li>
</ul>