@()(implicit request: RequestHeader)

@main("icons"){
<style>

</style>
<div class="main layui-clear">
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-zan"></i>icon-zan</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-jiazaizhong"></i>icon-jiazaizhong</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-sousuo"></i>icon-sousuo</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-quanpingpad"></i>icon-quanpingpad</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-shezhi"></i>icon-shezhi</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-shijian"></i>icon-shijian</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-guanbi"></i>icon-guanbi</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-tianjia"></i>icon-tianjia</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-tuichu"></i>icon-tuichu</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-shui"></i>icon-shui</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-qq"></i>icon-qq</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-weibo"></i>icon-weibo</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-tupian"></i>icon-tupian</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-logo"></i>icon-logo</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-daima"></i>icon-daima</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-biaoqing"></i>icon-biaoqing</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-nan"></i>icon-nan</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-nv"></i>icon-nv</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-quitquanping"></i>icon-quitquanping</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-zuichun"></i>icon-zuichun</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-charushuipingxian"></i>icon-charushuipingxian</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-yulan"></i>icon-yulan</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-liulanyanjing"></i>icon-liulanyanjing</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-touxiang"></i>icon-touxiang</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-caina"></i>icon-caina</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-room"></i>icon-room</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-svgmoban53"></i>icon-svgmoban53</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-shichang"></i>icon-shichang</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-shouye"></i>icon-shouye</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-tishilian"></i>icon-tishilian</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-fabu"></i>icon-fabu</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-pinglun"></i>icon-pinglun</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-zan1"></i>icon-zan1</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-chengshi"></i>icon-chengshi</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-lianjie"></i>icon-lianjie</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-yulan1"></i>icon-yulan1</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-renshu"></i>icon-renshu</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-huizongzuoyoutuodong"></i>icon-huizongzuoyoutuodong</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-404"></i>icon-404</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-iconmingxinganli"></i>icon-iconmingxinganli</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-wenda"></i>icon-wenda</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-top"></i>icon-top</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-ui"></i>icon-ui</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-fengexian"></i>icon-fengexian</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-jiacu"></i>icon-jiacu</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-biaoqing1"></i>icon-biaoqing1</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-emwdaima"></i>icon-emwdaima</a>
  <a><i style="font-size: 30px; color: #1E9FFF;" class="iconfont icon-yxj-expression"></i>icon-yxj-expression</a>
</div>
}
