@(news: List[News], activeUsers: List[User], topViewDocs: List[Doc], topViewArticles: List[Article], page: Int, total: Int)(implicit request: RequestHeader)
@import utils.RequestHelper

@main("欢迎来到社区！") {
<div class="main layui-clear">
  <div class="wrap">
    <div class="content">
      <div class="fly-tab">
        <div class="layui-tab layui-tab-brief">
          <ul class="layui-tab-title">
            <li> <a href="/" class="layui-this">综合资讯</a> </li>
          </ul>
        </div>
        <i class="layui-icon fly-search">&#xe615;</i>
      </div>

      <ul class="fly-panel fly-list fly-list-top">
        @for(n <- news){
        <li class="fly-list-li">
          <a href="/user/home?uid=@{n.author._id}" class="fly-list-avatar">
            <img src="@n.author.headImg" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="@n.url">@n.title</a>
          </h2>
          <p>
            <span><a href="/user/home?uid=@{n.author._id}">@{n.author.name}</a></span>
            <span>@utils.DateTimeUtil.toPrettyString(n.createTime)</span>
            <span><a href="/@{n.from}s">@utils.AppUtil.prettyResource(n.from)</a></span>
          </p>
        </li>
        }
      </ul>

      <div style="text-align: center">
        <div class="laypage-main">
          <a href="/?page=@{page-1}" class="laypage-prev">上一页</a><span>@{if(news.isEmpty){0}else{page}}/@{math.ceil(total/15.0).toInt}</span><a href="/?page=@{page+1}" class="laypage-next">下一页</a></div>
      </div>

    </div>
  </div>

  <div class="edge">
    <div class="fly-panel leifeng-rank">
      <h3 class="fly-panel-title">活跃用户</h3>
      <dl>
        @for(u <- activeUsers){
        <dd>
          <a href="/user/home?uid=@u._id">
            <img src="@{u.setting.headImg}">
            <cite>@{u.setting.name}</cite>
            <i>贡献@{u.stat.resCount}次</i>
          </a>
        </dd>
        }
      </dl>
    </div>

    <dl class="fly-panel fly-list-one">
      <dt class="fly-panel-title">热门文档</dt>
      @for(a <- topViewDocs){
      <dd>
        <a href="/article/view?_id=@{a._id}">@a.title</a>
        <span><i class="iconfont">&#xe60b;</i> @a.viewStat.count</span>
      </dd>
      }
    </dl>

    <dl class="fly-panel fly-list-one">
      <dt class="fly-panel-title">热门分享</dt>
      @for(a <- topViewArticles){
      <dd>
        <a href="/article/view?_id=@{a._id}">@a.title</a>
        <span><i class="iconfont">&#xe60c;</i> @a.replyStat.count</span>
      </dd>
      }
    </dl>

    <div class="fly-panel fly-link">
      <h3 class="fly-panel-title">友情链接</h3>
      <dl>
        @for(l <- App.siteSetting.links){
        <dd>
          <a href="@l.url" target="@l.target">@l.title</a>
        </dd>
        }
      </dl>
    </div>
  </div>
</div>
}
