@(title: String)(content: Html)(implicit request: RequestHeader)

@import helper._
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="微信机器人,智能客服,智能客服机器人,聊天机器人,智能机器人,客服机器人,APP机器人,APP智能客服,智慧客服,在线客服,客服软件,客服工具,手机客服,微信客服,奇智,奇智网络,奇智机器人,对话机器人,人机交互,对话系统,自然语言处理">
    <meta name="description" content="上海八斗智能技术有限公司是一家极富想象力的SaaS模式语义云服务提供商。我们采用最前沿的NLP算法，视技术为根本，以客户满意为服务标准，致力于打造出色的中文对话机器人云平台。我们不仅提供了10000多个日常对话知识点，还提供了电商、银行的行业知识库。用户可以轻松完成知识库定制，实现智能客服与自身业务的迅速对接。拥有最优秀的问答机器人、聊天机器人、问答机器人、客服机器人、智能客服。精准的语义理解能力，内置海量知识点、多轮会话、上下文理解等功能。支持网站机器人、微信、APP全渠道接入。">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_mqhl04idhqx8byb9.css">
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>
<body>

<div class="header">
    <div class="main">
        <a class="logo" href="/" title="Fly" style="width:180px;height:40px;background: url(@models.App.logo) no-repeat;">@models.App.name</a>
        <div class="nav">
            <a class="nav-this" href="/articles">
                <i class="iconfont icon-wenda"></i>交流
            </a>
            <a href="https://www.chatbot.cn/" target="_blank">
                <i class="iconfont icon-iconmingxinganli" style="top: 2px;"></i>官网
            </a>
        </div>

        <div class="nav-user">

            @request.session.get("name") match {
                case Some(name) => {
                    <!-- 登入后的状态 -->
                    <a class="avatar" href="/user/home">
                        <img src="@request.session("headImg")">
                        <cite>@name</cite>
                        <!--<i>VIP2</i>-->
                    </a>
                    <div class="nav">
                        <a href="/user/setting"><i class="iconfont icon-shezhi"></i>设置</a>
                        <!--<a href="/user/message"><i class="iconfont icon-xiaoxi"></i>消息</a>-->
                        <a href="/logout"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
                    </div>
                }
                case None => {
                    <!-- 未登入状态 -->
                    <a class="unlogin" href="javascript:void(0);"><i class="iconfont icon-touxiang"></i></a>
                    <span><a href="/login">登入</a><a href="/register">注册</a></span>
                    <!--<span><a href="https://cloud.chatbot.cn/cloud/login">公有云登入</a><a href="https://vip.chatbot.cn/cloud/login">企业云登入</a></span>-->
                    <!--<p class="out-login">
                        <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                        <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
                    </p>-->
                }
            }
        </div>
    </div>
</div>
@content
<div class="footer">
    <p><a href="https://www.chatbot.cn/">@models.App.name</a> 2017 &copy; <a href="@models.App.url">@models.App.url</a></p>
    <!--<p>
        <a href="https://www.chatbot.cn/demo.html" target="_blank">产品演示</a>
        <a href="https://cloud.smartnlp.cn/cloud/register" target="_blank">产品体验</a>
        <a href="javascript:void(0);" target="_blank">微信公众号</a>
    </p>-->
</div>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/layui/layui.js"></script>
<script>
var token = '@CSRF.getToken.value';

layui.cache.user = {
  username: '@request.session.get("name").getOrElse("游客")'
  ,uid: @request.session.get("uid").getOrElse("-1").toInt
  ,avatar: '@request.session.get("headImg").getOrElse("/assets/images/head.png")'
  ,experience: 0
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '/assets/mods/'
}).extend({
  fly: 'index'
}).use('fly', function(){
  var $ = layui.jquery;
  var fly = layui.fly;
});
</script>
</body>
</html>
