@(nav: String)

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class='layui-hide-xs @if(nav == ""){layui-this}'><a href="/">首页</a></li>
            <li class='@if(nav == "qa"){layui-this}'><a href="/?resType=qa">提问</a></li>
            <li class='@if(nav == "article"){layui-this}'><a href="/?resType=article">分享</a></li>
            <li class='@if(nav == "exam"){layui-this}'><a href="/?resType=exam">题库</a></li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            @if(nav == "index" || nav == "article"){
                <a href='/article/add' class="layui-btn">我要分享</a>
            }else{
                <a href='/qa/add' class="layui-btn">我要提问</a>
            }
        </div>
        <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
        @if(nav == "index" || nav == "article"){
            <a href='/article/add' class="layui-btn">我要分享</a>
        }else{
            <a href='/qa/add' class="layui-btn">我要提问</a>
        }
        </div>
    </div>
</div>