@(nav: String)

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class='layui-hide-xs @if(nav == ""){layui-this}'><a href="/">首页</a></li>
            <li class='@if(nav == "qa"){layui-this}'><a href="/?resType=qa">提问</a></li>
            <li class='@if(nav == "article"){layui-this}'><a href="/?resType=article">分享</a></li>
            <li class='@if(nav == "exam"){layui-this}'><a href="/?resType=exam">题库</a></li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a href='/article/add' class="layui-btn layui-btn-sm">分享</a>
            <a href='/qa/add' class="layui-btn layui-btn-sm">提问</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
          <a href='/article/add' class="layui-btn">分享</a>
          <a href='/qa/add' class="layui-btn">提问</a>
        </div>
    </div>
</div>