@()(implicit request: RequestHeader)
@import helper._
@main("欢迎来到社区！") {
<div class="main layui-clear">
  <div class="fly-panel fly-panel-user" pad20 style="margin: 75px auto 0; width:560px; height: 450px;">
    <div class="layui-tab layui-tab-brief" style="margin: 40px auto 0; width:430px;">
      <ul class="layui-tab-title">
        <li><a href="/login">账户密码登录</a></li>
        <li><a href="/weixinLogin">微信扫码登录</a></li>
        <li><a href="/register">新用户注册</a></li>
        <li class="layui-this">重置密码</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" action="/resetPassword">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="login" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="verifyCode" required lay-verify="required" placeholder="请输入右边验证码" autocomplete="off" class="layui-input">
                </div>
                <div >
                  <span style="color: #c00;"><img id="L_vercode_img" style="width:100px;height:38px;" src="/verifyCode?_=Math.random()"></span>
                </div>
              </div>
              <div class="layui-form-item" style="text-align:center;">
                <button class="layui-btn" style="width:210px; margin-top: 20px;" lay-submit>重置密码</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
